<form
  class="add-form"
  (ngSubmit)="onSubmit()"
  [ngStyle]="{ 'margin-bottom': '20px' }"
  *ngIf="showAddCrypto"
>
  <div class="form-control">
    <label for="crypto"> Crypto </label>
    <input
      type="text"
      name="text"
      id="text"
      [(ngModel)]="text"
      placeholder="Add Crypto"
    />
  </div>
  <div class="form-control">
    <label for="symbol"> Symbol </label>
    <input
      type="text"
      name="symbol"
      id="symbol"
      [(ngModel)]="symbol"
      placeholder="Add Crypto"
    />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder"> Set Reminder </label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      [(ngModel)]="reminder"
    />
  </div>
  <input type="submit" value="Save Task" class="btn btn-block" />
</form>
